---
import Layout from '../layouts/Layout.astro';
import Container from '../components/ui/Container.astro';
import Column from '../components/ui/Column.astro';
import GlyphDesigner from '../components/GlyphDesigner.jsx';
---

<Layout title="Modular Glyph Designer">
  <Container>
    <Column>
      <h1 style={{ marginBottom: '2rem' }}>Modular Glyph Designer</h1>

      <GlyphDesigner client:load />
    </Column>
  </Container>
</Layout>