---
// web/src/pages/house.astro
import Layout from '../layouts/Layout.astro';
import Container from '../components/ui/Container.astro';
import Column from '../components/ui/Column.astro';
import HouseExplorer from '../components/HouseExplorer.jsx';
---

<Layout title="House Explorer">
  <Container>
    <Column>
      <h1 style={{ marginBottom: '2rem' }}>House Explorer</h1>

      <HouseExplorer client:only="react" />
    </Column>
  </Container>
</Layout>