---
// web/src/pages/translate.astro
import Container from '../components/ui/Container.astro';
import Column from '../components/ui/Column.astro';

// Import the React component
import KeyBoard from '../components/InglisceTextArea.jsx';
---

<Container>
  <Column>
    <h1 style={{ marginBottom: '2rem' }}>Inglisce Keyboard</h1> 

    <KeyBoard client:load />

  </Column>
</Container>
